.container {
  padding: 2rem;
}

.totalDebtContainer {
  display: flex;
  height: 3rem;
  background-color: rgb(127, 204, 255);
  margin-top: 1rem;
  outline: 1px solid black;
  width: 100%;
  justify-content: space-between;
}

.total {
  margin-left: 1rem;
}

.debt {
  margin-right: 3rem;
}

.totalRowCount {
  margin-left: 1rem;
  margin-right: 1rem;
}

.button {
  background-color: cornflowerblue;
}

#addDebtButton {
  margin-right: 1rem;
}

.rowCountContainer {
  display: flex;
  outline: 1px solid black;
}

.debtFormContainer {
  margin-top: 1rem;
}

.titleRow {
  background: rgb(193, 227, 250);
  outline: 1px solid black;
}

.boldText {
  font-weight: bold;
}
